<div class="app-layout">
    <div class="app-layout-head">
        <app-header (onHamburgerToggled)="sidebar.toggle($event)"></app-header>
    </div>

    <div class="app-layout-body">
        <div class="app-layout-body-sidebar">
            <app-sidebar #sidebar>
                <app-feeds></app-feeds>
            </app-sidebar>
        </div>

        <div class="app-layout-body-content">
            <div class="app-content-wrapper">
                <app-posts></app-posts>
            </div>
        </div>
    </div>
</div>