:host {
  position: absolute;
  width: 100%;
  height: 100%;

  .app-layout {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .app-layout-head {
      flex: 0 0 auto;
      position: relative;
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }

    .app-layout-body {
      flex: 1 1 auto;
      position: relative;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      .app-layout-body-sidebar {
        flex: 0 0 auto;
        position: relative;
        z-index: 11;
        display: flex;
        flex-direction: column;
        overflow: visible;
      }

      .app-layout-body-content {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        // min-height: min-content;
        overflow-y: auto;
        overflow-x: hidden;

        background-color: #eeeff3;

        .app-content-wrapper {
          margin: 0.4rem;
        }
      }
    }
  }
}
